/**
    RUMP: A Reproducible Untargeted Metabolomics Data Processing Pipeline
    Description : This file in the configuration of RUMP, including resource allocation and parameters information
    Copyright   : (C) LemasLab
    Author      : Xinsong Du
    License     : GNU GPL-v3.0 License
          
    This script is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    This script is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.
    
    You should have received a copy of the GNU General Public License
    along with this script.  If not, see <http://www.gnu.org/licenses/>.
    
    For any bugs or problems found, please contact us at
    - xinsongdu@ufl.edu, manfiol@ufl.edu, djlemas@ufl.edu; 
    - https://github.com/lemaslab/RUMP
*/

google {
    lifeSciences.bootDiskSize = 200.GB
    lifeSciences.preemptible = true
    zone = 'us-east1-b'
    network = 'jax-poc-lifebit-01-vpc-network'
    subnetwork = 'us-east1-sub2'
}

docker.enabled = true

executor {
    name = 'google-lifesciences'
}

process {
    disk = "200 GB"
    maxRetries = 5
    errorStrategy = { task.attempt == process.maxRetries ? 'ignore' : task.exitStatus in [3,14,143,137,104,134,139] ? 'retry' : 'ignore' }
}